@{
    ViewData["Title"] = "Home Page";
}

<style>
    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
</style>


<div class="vertical-center">
    <h1 class="display-4">Welcome to re: HUB</h1>
    <p>And this is a really good home page. <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Click here to get rick-rolled</a>.</p>
</div>
